@use '../abstracts/variables'

body
  font-family: Arial, sans-serif
  background-color: variables.$secondary-color
  color: #333
  margin: 0
  padding: 0

header 
  background-color: variables.$primary-color
  color: white
  padding: 1rem
  text-align: center

h1 
    font-family: "Shrikhand", sans-serif

section 
  padding: 2rem
